.budget-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: 100%;
}

.budget-form__label {
  margin-right: 0.5rem;
}

.budget-form__field {
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 8px;
}

.budget-form__button {
  border: none;
  padding: 8px;
  background-color: white;
  border-radius: 0 4px 4px 0;
}

.budget-form__button:hover {
  background-color: whitesmoke;
}
